<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [67]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('adult.data', header=None)
data.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [19]:
df[9].value_counts()

 Male      21790
 Female    10771
Name: 9, dtype: int64

In [39]:
df[14][4]

SyntaxError: invalid syntax (<ipython-input-39-aba837115645>, line 1)

**2. Каков средний возраст (признак *age*) женщин?**

In [30]:
df[df[9] == ' Female'][0].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [31]:
df[13].value_counts(normalize=True)

 United-States                 0.895857
 Mexico                        0.019748
 ?                             0.017905
 Philippines                   0.006081
 Germany                       0.004207
 Canada                        0.003716
 Puerto-Rico                   0.003501
 El-Salvador                   0.003255
 India                         0.003071
 Cuba                          0.002918
 England                       0.002764
 Jamaica                       0.002488
 South                         0.002457
 China                         0.002303
 Italy                         0.002242
 Dominican-Republic            0.002150
 Vietnam                       0.002058
 Guatemala                     0.001966
 Japan                         0.001904
 Poland                        0.001843
 Columbia                      0.001812
 Taiwan                        0.001566
 Haiti                         0.001351
 Iran                          0.001321
 Portugal                      0.001136
 Nicaragua                     0.001044
 Peru                          0.000952
 France                        0.000891
 Greece                        0.000891
 Ecuador                       0.000860
 Ireland                       0.000737
 Hong                          0.000614
 Trinadad&Tobago               0.000584
 Cambodia                      0.000584
 Thailand                      0.000553
 Laos                          0.000553
 Yugoslavia                    0.000491
 Outlying-US(Guam-USVI-etc)    0.000430
 Honduras                      0.000399
 Hungary                       0.000399
 Scotland                      0.000369
 Holand-Netherlands            0.000031
Name: 13, dtype: float64

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [44]:
df[df[14] == ' >50K'][0].mean()

44.24984058155847

In [46]:
df[df[14] == ' <=50K'][0].mean()

36.78373786407767

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [58]:
df[df[14] == ' >50K'][3].value_counts()

 Bachelors       2221
 HS-grad         1675
 Some-college    1387
 Masters          959
 Prof-school      423
 Assoc-voc        361
 Doctorate        306
 Assoc-acdm       265
 10th              62
 11th              60
 7th-8th           40
 12th              33
 9th               27
 5th-6th           16
 1st-4th            6
Name: 3, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [99]:
columns_to_show = [0]

df.groupby([8, 9])[columns_to_show].describe(percentiles=[])

                                   0
                               count       mean        std   min   50%   max
8                   9
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  36.0  80.0
                     Male      192.0  37.208333  12.049563  17.0  35.0  82.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  33.0  75.0
                     Male      693.0  39.073593  12.883944  18.0  37.0  90.0
 Black               Female   1555.0  37.854019  12.637197  17.0  37.0  90.0
                     Male     1569.0  37.682600  12.882612  17.0  36.0  90.0
 Other               Female    109.0  31.678899  11.631599  17.0  29.0  74.0
                     Male      162.0  34.654321  11.355531  17.0  32.0  77.0
 White               Female   8642.0  36.811618  14.329093  17.0  35.0  90.0
                     Male    19174.0  39.652498  13.436029  17.0  38.0  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [106]:
df.groupby([9, 14, 5]).describe(percentiles=[])

                                           0                               \
                                        count       mean        std   min
9       14     5
 Female  <=50K  Divorced               2493.0  43.114320  10.716776  19.0
                Married-AF-spouse         8.0  34.500000  17.736162  19.0
                Married-civ-spouse      903.0  38.401993  12.230649  17.0
                Married-spouse-absent   194.0  39.097938  12.632128  19.0
                Never-married          4601.0  27.695284   9.945796  17.0
                Separated               614.0  39.552117  11.035744  19.0
                Widowed                 779.0  58.537869  11.998588  22.0
         >50K   Divorced                179.0  45.525140   8.367486  24.0
                Married-AF-spouse         6.0  31.333333   7.737355  22.0
                Married-civ-spouse      754.0  40.911141   9.996882  19.0
                Married-spouse-absent    11.0  47.545455   7.763551  28.0
                Never-married           166.0  40.090361  10.586911  21.0
                Separated                17.0  41.294118  10.992979  24.0
                Widowed                  46.0  56.565217  10.904947  29.0
 Male    <=50K  Divorced               1487.0  42.108944  10.246765  18.0
                Married-AF-spouse         5.0  31.600000   8.792042  26.0
                Married-civ-spouse     7381.0  42.762769  13.210202  17.0
                Married-spouse-absent   190.0  40.884211  12.052674  18.0
                Never-married          5591.0  27.641925   9.560532  17.0
                Separated               345.0  38.428986  10.525786  18.0
                Widowed                 129.0  61.875969  14.458998  18.0
         >50K   Divorced                284.0  45.721831   8.683892  26.0
                Married-AF-spouse         4.0  31.250000   5.909033  27.0
                Married-civ-spouse     5938.0  44.883799  10.346546  21.0
                Married-spouse-absent    23.0  47.217391  12.150408  29.0
                Never-married           325.0  37.261538   9.974778  19.0
                Separated                49.0  42.714286   9.787322  23.0
                Widowed                  39.0  60.974359  11.941716  35.0

                                                       2                  \
                                        50%   max   count           mean
9       14     5
 Female  <=50K  Divorced               42.0  90.0  2493.0  183558.329322
                Married-AF-spouse      31.0  75.0     8.0  234406.750000
                Married-civ-spouse     36.0  81.0   903.0  180480.119601
                Married-spouse-absent  37.5  80.0   194.0  176197.871134
                Never-married          25.0  90.0  4601.0  188379.995870
                Separated              39.0  90.0   614.0  201125.576547
                Widowed                60.0  90.0   779.0  176170.086008
         >50K   Divorced               45.0  69.0   179.0  181699.491620
                Married-AF-spouse      32.0  43.0     6.0  211190.666667
                Married-civ-spouse     40.0  90.0   754.0  183320.599469
                Married-spouse-absent  48.0  56.0    11.0  168431.909091
                Never-married          38.0  74.0   166.0  191646.337349
                Separated              41.0  64.0    17.0  216290.235294
                Widowed                58.5  75.0    46.0  156725.869565
 Male    <=50K  Divorced               41.0  83.0  1487.0  189683.112307
                Married-AF-spouse      29.0  47.0     5.0  157688.400000
                Married-civ-spouse     41.0  90.0  7381.0  186506.781601
                Married-spouse-absent  41.0  79.0   190.0  216509.936842
                Never-married          25.0  90.0  5591.0  201069.717403
                Separated              37.0  74.0   345.0  215100.988406
                Widowed                63.0  90.0   129.0  171618.736434
         >50K   Divorced               45.0  65.0   284.0  187774.246479
                Married-AF-spouse      29.0  40.0     4.0   99242.000000
                Married-civ-spouse     44.0  90.0  5938.0  188474.476591
                Married-spouse-absent  43.0  77.0    23.0  154836.086957
                Never-married          36.0  90.0   325.0  198613.683077
                Separated              42.0  61.0    49.0  208725.612245
                Widowed                58.0  81.0    39.0  162954.487179

                                                               ...  \
                                                 std      min  ...
9       14     5                                               ...
 Female  <=50K  Divorced               107894.348960  19410.0  ...
                Married-AF-spouse      164052.975225  30559.0  ...
                Married-civ-spouse      98754.818536  19395.0  ...
                Married-spouse-absent   94676.896947  20057.0  ...
                Never-married          102216.988306  12285.0  ...
                Separated              111397.459533  20438.0  ...
                Widowed                 94244.778134  19914.0  ...
         >50K   Divorced                85297.777714  20296.0  ...
                Married-AF-spouse      131045.119153  30565.0  ...
                Married-civ-spouse     103397.246616  19700.0  ...
                Married-spouse-absent   81741.642713  39380.0  ...
                Never-married           98847.006553  36440.0  ...
                Separated               83588.548033  82847.0  ...
                Widowed                 82251.380256  23074.0  ...
 Male    <=50K  Divorced               103904.484097  21095.0  ...
                Married-AF-spouse      135533.935989  78172.0  ...
                Married-civ-spouse     104287.989571  13769.0  ...
                Married-spouse-absent  133004.571901  22966.0  ...
                Never-married          111493.049445  18827.0  ...
                Separated              130388.296496  20534.0  ...
                Widowed                 99344.500142  24529.0  ...
         >50K   Divorced               106189.880982  20809.0  ...
                Married-AF-spouse       93266.349784  26892.0  ...
                Married-civ-spouse     102188.049176  14878.0  ...
                Married-spouse-absent   87558.295846  27444.0  ...
                Never-married          117587.047502  23438.0  ...
                Separated              107017.837431  27766.0  ...
                Widowed                 83585.278777  34269.0  ...

                                               11                        12  \
                                              std  min  50%     max   count
9       14     5
 Female  <=50K  Divorced               294.805836  0.0  0.0  3900.0  2493.0
                Married-AF-spouse        0.000000  0.0  0.0     0.0     8.0
                Married-civ-spouse     330.313576  0.0  0.0  2457.0   903.0
                Married-spouse-absent  247.479543  0.0  0.0  1762.0   194.0
                Never-married          272.196733  0.0  0.0  2339.0  4601.0
                Separated              289.770631  0.0  0.0  3900.0   614.0
                Widowed                398.289035  0.0  0.0  4356.0   779.0
         >50K   Divorced               516.993973  0.0  0.0  3004.0   179.0
                Married-AF-spouse        0.000000  0.0  0.0     0.0     6.0
                Married-civ-spouse     567.959232  0.0  0.0  2415.0   754.0
                Married-spouse-absent  745.336044  0.0  0.0  2472.0    11.0
                Never-married          653.718536  0.0  0.0  3683.0   166.0
                Separated                0.000000  0.0  0.0     0.0    17.0
                Widowed                720.865689  0.0  0.0  2824.0    46.0
 Male    <=50K  Divorced               351.247218  0.0  0.0  2339.0  1487.0
                Married-AF-spouse        0.000000  0.0  0.0     0.0     5.0
                Married-civ-spouse     332.380824  0.0  0.0  2603.0  7381.0
                Married-spouse-absent  322.728824  0.0  0.0  2339.0   190.0
                Never-married          288.056376  0.0  0.0  2339.0  5591.0
                Separated              365.655809  0.0  0.0  3770.0   345.0
                Widowed                334.684199  0.0  0.0  2339.0   129.0
         >50K   Divorced               570.303480  0.0  0.0  2824.0   284.0
                Married-AF-spouse        0.000000  0.0  0.0     0.0     4.0
                Married-civ-spouse     596.337315  0.0  0.0  2415.0  5938.0
                Married-spouse-absent  450.594758  0.0  0.0  1564.0    23.0
                Never-married          619.568638  0.0  0.0  3004.0   325.0
                Separated              850.646406  0.0  0.0  2824.0    49.0
                Widowed                706.379023  0.0  0.0  2392.0    39.0


                                            mean        std   min   50%   max
9       14     5
 Female  <=50K  Divorced               39.202166  10.078785   1.0  40.0  99.0
                Married-AF-spouse      24.375000  14.371972   3.0  25.0  40.0
                Married-civ-spouse     35.757475  12.445709   1.0  40.0  99.0
                Married-spouse-absent  36.546392  10.785252   3.0  40.0  90.0
                Never-married          34.602912  12.015366   2.0  40.0  99.0
                Separated              37.542345  10.232565   7.0  40.0  90.0
                Widowed                32.026958  13.313041   1.0  38.0  99.0
         >50K   Divorced               44.826816  10.034668  12.0  40.0  99.0
                Married-AF-spouse      40.333333   0.816497  40.0  40.0  42.0
                Married-civ-spouse     37.900531  10.767588   2.0  40.0  80.0
                Married-spouse-absent  46.454545  19.169578  16.0  45.0  80.0
                Never-married          46.307229  10.113696  12.0  45.0  80.0
                Separated              43.470588   8.456637  24.0  40.0  60.0
                Widowed                40.934783  12.707657  10.0  40.0  72.0
 Male    <=50K  Divorced               42.778077  10.636435   3.0  40.0  99.0
                Married-AF-spouse      65.000000  20.000000  40.0  60.0  90.0
                Married-civ-spouse     42.375152  12.107660   1.0  40.0  99.0
                Married-spouse-absent  41.894737  11.215516   3.0  40.0  99.0
                Never-married          38.008049  12.408352   1.0  40.0  99.0
                Separated              41.110145  10.008109   2.0  40.0  99.0
                Widowed                33.054264  16.773449   2.0  40.0  99.0
         >50K   Divorced               48.919014  11.000022   5.0  48.0  99.0
                Married-AF-spouse      46.000000   4.898979  40.0  47.0  50.0
                Married-civ-spouse     46.244022  10.720902   1.0  43.0  99.0
                Married-spouse-absent  44.391304  13.469626  20.0  40.0  70.0
                Never-married          46.867692   9.834951   7.0  45.0  90.0
                Separated              47.163265   9.287866  32.0  45.0  80.0
                Widowed                42.384615  14.351995   2.0  40.0  80.0

[28 rows x 36 columns]

In [107]:
284+325+49+39

697

In [ ]:
4+5

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [115]:
df.groupby([12, 14])[14].describe(percentiles=[])

          count unique     top freq
12 14
1   <=50K    18      1   <=50K   18
    >50K      2      1    >50K    2
2   <=50K    24      1   <=50K   24
    >50K      8      1    >50K    8
3   <=50K    38      1   <=50K   38
    >50K      1      1    >50K    1
4   <=50K    51      1   <=50K   51
    >50K      3      1    >50K    3
5   <=50K    53      1   <=50K   53
    >50K      7      1    >50K    7
6   <=50K    56      1   <=50K   56
    >50K      8      1    >50K    8
7   <=50K    22      1   <=50K   22
    >50K      4      1    >50K    4
8   <=50K   134      1   <=50K  134
    >50K     11      1    >50K   11
9   <=50K    17      1   <=50K   17
    >50K      1      1    >50K    1
10  <=50K   258      1   <=50K  258
    >50K     20      1    >50K   20
11  <=50K    11      1   <=50K   11
12  <=50K   161      1   <=50K  161
    >50K     12      1    >50K   12
13  <=50K    21      1   <=50K   21
    >50K      2      1    >50K    2
14  <=50K    32      1   <=50K   32
    >50K      2      1    >50K    2
15  <=50K   389      1   <=50K  389
    >50K     15      1    >50K   15
16  <=50K   192      1   <=50K  192
...         ...    ...     ...  ...
78  <=50K     6      1   <=50K    6
    >50K      2      1    >50K    2
80  <=50K    76      1   <=50K   76
    >50K     57      1    >50K   57
81  <=50K     3      1   <=50K    3
82  <=50K     1      1   <=50K    1
84  <=50K    28      1   <=50K   28
    >50K     17      1    >50K   17
85  <=50K     9      1   <=50K    9
    >50K      4      1    >50K    4
86  <=50K     2      1   <=50K    2
87  <=50K     1      1   <=50K    1
88  <=50K     2      1   <=50K    2
89  <=50K     1      1   <=50K    1
    >50K      1      1    >50K    1
90  <=50K    19      1   <=50K   19
    >50K     10      1    >50K   10
91  <=50K     3      1   <=50K    3
92  <=50K     1      1   <=50K    1
94  <=50K     1      1   <=50K    1
95  <=50K     1      1   <=50K    1
    >50K      1      1    >50K    1
96  <=50K     4      1   <=50K    4
    >50K      1      1    >50K    1
97  <=50K     1      1   <=50K    1
    >50K      1      1    >50K    1
98  <=50K     8      1   <=50K    8
    >50K      3      1    >50K    3
99  <=50K    60      1   <=50K   60
    >50K     25      1    >50K   25

[173 rows x 4 columns]

In [117]:
85 * 29 / 100

24.65

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [118]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [119]:
df.groupby([13, 14])[12].describe(percentiles=[])

                                      count       mean        std   min   50%  \
13                          14
 ?                           <=50K    437.0  40.164760  12.817002   1.0  40.0
                             >50K     146.0  45.547945  10.202827   8.0  40.0
 Cambodia                    <=50K     12.0  41.416667   3.088346  40.0  40.0
                             >50K       7.0  40.000000   0.000000  40.0  40.0
 Canada                      <=50K     82.0  37.914634  13.012056   8.0  40.0
                             >50K      39.0  45.641026  12.066673  20.0  45.0
 China                       <=50K     55.0  37.381818  11.439844   1.0  40.0
                             >50K      20.0  38.900000  10.125008  10.0  40.0
 Columbia                    <=50K     57.0  38.684211   8.610952   5.0  40.0
                             >50K       2.0  50.000000   0.000000  50.0  50.0
 Cuba                        <=50K     70.0  37.985714   9.960055   5.0  40.0
                             >50K      25.0  42.440000  12.453514  14.0  40.0
 Dominican-Republic          <=50K     68.0  42.338235  11.121594  22.0  40.0
                             >50K       2.0  47.000000   9.899495  40.0  47.0
 Ecuador                     <=50K     24.0  38.041667  10.251105  22.0  40.0
                             >50K       4.0  48.750000   2.500000  45.0  50.0
 El-Salvador                 <=50K     97.0  36.030928   9.396867   3.0  40.0
                             >50K       9.0  45.000000   7.071068  35.0  45.0
 England                     <=50K     60.0  40.483333  15.177472   7.0  40.0
                             >50K      30.0  44.533333  11.072592  20.0  40.0
 France                      <=50K     17.0  41.058824  12.401969  15.0  40.0
                             >50K      12.0  50.750000  16.360290  40.0  47.5
 Germany                     <=50K     93.0  39.139785  12.121299   6.0  40.0
                             >50K      44.0  44.977273  11.944618   8.0  45.0
 Greece                      <=50K     21.0  41.809524  16.857103   4.0  40.0
                             >50K       8.0  50.625000  11.783008  35.0  50.0
 Guatemala                   <=50K     61.0  39.360656   6.570218  18.0  40.0
                             >50K       3.0  36.666667   5.773503  30.0  40.0
 Haiti                       <=50K     40.0  36.325000  11.943000  10.0  40.0
                             >50K       4.0  42.750000   9.142392  35.0  40.0
 Holand-Netherlands          <=50K      1.0  40.000000        NaN  40.0  40.0
 Honduras                    <=50K     12.0  34.333333   8.626949  17.0  37.5
                             >50K       1.0  60.000000        NaN  60.0  60.0
 Hong                        <=50K     14.0  39.142857   4.294131  30.0  40.0
                             >50K       6.0  45.000000  10.000000  40.0  40.0
 Hungary                     <=50K     10.0  31.300000  18.595400   3.0  30.0
                             >50K       3.0  50.000000  10.000000  40.0  50.0
 India                       <=50K     60.0  38.233333  12.617403   8.0  40.0
                             >50K      40.0  46.475000  10.056220  20.0  41.5
 Iran                        <=50K     25.0  41.440000  12.440123   6.0  40.0
                             >50K      18.0  47.500000  10.325582  30.0  45.0
 Ireland                     <=50K     19.0  40.947368   7.183884  25.0  40.0
                             >50K       5.0  48.000000  10.954451  40.0  40.0
 Italy                       <=50K     48.0  39.625000  15.090683   6.0  40.0
                             >50K      25.0  45.400000   9.495613  20.0  40.0
 Jamaica                     <=50K     71.0  38.239437   9.673919  10.0  40.0
                             >50K      10.0  41.100000   4.954235  35.0  40.0
 Japan                       <=50K     38.0  41.000000  11.902759  10.0  40.0
                             >50K      24.0  47.958333  16.120414  21.0  42.5
 Laos                        <=50K     16.0  40.375000   4.112988  31.0  40.0
                             >50K       2.0  40.000000   0.000000  40.0  40.0
 Mexico                      <=50K    610.0  40.003279  10.377441   4.0  40.0
                             >50K      33.0  46.575758  10.917390  30.0  40.0
 Nicaragua                   <=50K     32.0  36.093750   8.663454  11.0  40.0
                             >50K       2.0  37.500000   3.535534  35.0  37.5
 Outlying-US(Guam-USVI-etc)  <=50K     14.0  41.857143  10.747859  24.0  40.0
 Peru                        <=50K     29.0  35.068966  11.609513   4.0  40.0
                             >50K       2.0  40.000000   0.000000  40.0  40.0
 Philippines                 <=50K    137.0  38.065693  11.265646   8.0  40.0
                             >50K      61.0  43.032787   8.445842  35.0  40.0
 Poland                      <=50K     48.0  38.166667  12.237600   3.0  40.0
                             >50K      12.0  39.000000   9.779385  10.0  40.0
 Portugal                    <=50K     33.0  41.939394   9.062075  30.0  40.0
                             >50K       4.0  41.500000   5.972158  36.0  40.0
 Puerto-Rico                 <=50K    102.0  38.470588   9.745988   6.0  40.0
                             >50K      12.0  39.416667  11.057357   8.0  40.0
 Scotland                    <=50K      9.0  39.444444   9.166667  20.0  40.0
                             >50K       3.0  46.666667  11.547005  40.0  40.0
 South                       <=50K     64.0  40.156250  16.831771   4.0  40.0
                             >50K      16.0  51.437500  10.942082  35.0  50.0
 Taiwan                      <=50K     31.0  33.774194  14.270505   2.0  40.0
                             >50K      20.0  46.800000  13.485275  27.0  40.0
 Thailand                    <=50K     15.0  42.866667  20.413114  10.0  40.0
                             >50K       3.0  58.333333  14.433757  50.0  50.0
 Trinadad&Tobago             <=50K     17.0  37.058824  12.477332  14.0  40.0
                             >50K       2.0  40.000000   0.000000  40.0  40.0
 United-States               <=50K  21999.0  38.799127  12.400570   1.0  40.0
                             >50K    7171.0  45.505369  11.025092   1.0  40.0
 Vietnam                     <=50K     62.0  37.193548  12.422664   1.0  40.0
                             >50K       5.0  39.200000   1.788854  36.0  40.0
 Yugoslavia                  <=50K     10.0  41.600000  11.305849  20.0  40.0
                             >50K       6.0  49.500000  11.202678  40.0  46.0

                                     max
13                          14
 ?                           <=50K  99.0
                             >50K   80.0
 Cambodia                    <=50K  50.0
                             >50K   40.0
 Canada                      <=50K  70.0
                             >50K   72.0
 China                       <=50K  60.0
                             >50K   60.0
 Columbia                    <=50K  60.0
                             >50K   50.0
 Cuba                        <=50K  70.0
                             >50K   60.0
 Dominican-Republic          <=50K  98.0
                             >50K   54.0
 Ecuador                     <=50K  66.0
                             >50K   50.0
 El-Salvador                 <=50K  60.0
                             >50K   55.0
 England                     <=50K  99.0
                             >50K   85.0
 France                      <=50K  66.0
                             >50K   99.0
 Germany                     <=50K  70.0
                             >50K   70.0
 Greece                      <=50K  75.0
                             >50K   65.0
 Guatemala                   <=50K  60.0
                             >50K   40.0
 Haiti                       <=50K  75.0
                             >50K   56.0
 Holand-Netherlands          <=50K  40.0
 Honduras                    <=50K  45.0
                             >50K   60.0
 Hong                        <=50K  50.0
                             >50K   65.0
 Hungary                     <=50K  60.0
                             >50K   60.0
 India                       <=50K  84.0
                             >50K   72.0
 Iran                        <=50K  65.0
                             >50K   70.0
 Ireland                     <=50K  55.0
                             >50K   60.0
 Italy                       <=50K  80.0
                             >50K   67.0
 Jamaica                     <=50K  70.0
                             >50K   50.0
 Japan                       <=50K  65.0
                             >50K   99.0
 Laos                        <=50K  50.0
                             >50K   40.0
 Mexico                      <=50K  99.0
                             >50K   80.0
 Nicaragua                   <=50K  60.0
                             >50K   40.0
 Outlying-US(Guam-USVI-etc)  <=50K  60.0
 Peru                        <=50K  60.0
                             >50K   40.0
 Philippines                 <=50K  99.0
                             >50K   80.0
 Poland                      <=50K  65.0
                             >50K   50.0
 Portugal                    <=50K  84.0
                             >50K   50.0
 Puerto-Rico                 <=50K  80.0
                             >50K   50.0
 Scotland                    <=50K  55.0
                             >50K   60.0
 South                       <=50K  99.0
                             >50K   70.0
 Taiwan                      <=50K  60.0
                             >50K   84.0
 Thailand                    <=50K  80.0
                             >50K   75.0
 Trinadad&Tobago             <=50K  60.0
                             >50K   40.0
 United-States               <=50K  99.0
                             >50K   99.0
 Vietnam                     <=50K  77.0
                             >50K   40.0
 Yugoslavia                  <=50K  66.0
                             >50K   65.0